{{ partial "head" }}
<body id="event-prp-days">
  <div class="container-main">
    {{ partial "nav" }}
    <div id="sticky-anchor"></div>
    {{ partial "banner" }}
    <div class="content nav-fixed">
      <div class="container row">
        <div class="col-md-8">
          <div class="h2">Come dive deeper with Pivotal Cloud Foundry</div>
            Come spend half a day with us and learn the basics or dive a little deeper.  This is a half day seminar aimed at helping partner Sales Engineering teams get more familiar with the Pivotal Cloud Foundry platform.  This course will be delivered at the Pivotal offices - so it's a great opportunity to get a look at how Pivotal Labs works: pairing, CI dashboards, etc. We'll finish off the day with a Happy Hour for folks to socialize and meet your counterparts at Pivotal.  <span class="devs_please">Sales Engineers, Architects and other technical staff are the perfect choice to attend. </span> Space is limited so be sure to register soon and book the time in your calendar!        </div>
        <div class="col-md-4">
          <div class="h2">Spend the Day With Us</div>
          <div class='boxes'>
            <a class='box' href='/cities/ny'>
              <div class='container'>
                <div class='h3'>New York</div>
                <p>October 11th, 2016</p>
              </div>
            </a>
            <a class='box' href='/cities/chi'>
              <div class='container'>
                <div class='h3'>Chicago</div>
                <p>October 13th, 2016</p>
              </div>
            </a>
            <a class='box' href='/cities/den'>
              <div class='container'>
                <div class='h3'>Denver</div>
                <p>November 1st, 2016</p>
              </div>
            </a>
            <a class='box' href='/cities/sf'>
              <div class='container'>
                <div class='h3'>San Francisco</div>
                <p>November 3rd, 2016</p>
              </div>
            </a>
            <!-- <a class='box' href='/cities/dal'>
              <div class='container'>
                <div class='h3'>Dallas</div>
                <p>Date TBD</p>
              </div>
            </a>
            <a class='box' href='/cities/tor'>
              <div class='container'>
                <div class='h3'>Toronto</div>
                <p>Date TBD</p>
              </div>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer" }}
