table {
  margin-top: 10px;
  font-family: "Proxima Nova", sans-serif;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  border: none;
}

td{
  padding: 20px 0;
  border-bottom: 1px solid #ececec;
}
table td:nth-child(1){
  color: black;
}

table td:nth-child(2){
  width: 20px;
  border-bottom: none;
}
table tr:nth-of-type(even) {
     background: #fff;
}

.agenda li{
  font-weight:bold;
}
