.billboard{
  padding: 0;
  height: 350px;
  overflow: hidden;
  width: 100%;
  background: #243640;
}

.billboard #banner{
  position: absolute;
  background: url(https://d1fto35gcfffzn.cloudfront.net/images/events/bg-pivotal-roadshow.png);
  height: 348px;
  width: 100%;
}

.billboard .text{
  padding: 134px 0 0;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.billboard #logo{
  max-width: 150px;
  height: 35px;
}
.billboard .h1 {
  margin-left: -6px;
  font-size: 45px;
  margin-top: 4px;
  color: white;
  font-weight: 100;
  line-height: 1.2em;
}

#sticky-anchor{
  background: #243640;
}
