body{
  margin: 0;
  font-family: "Roboto", serif;
  color: #666666;
  font-weight: 300;
  background: #f9f9f9;
  font-size: 16px;
  line-height: 1.7em;
  position: relative;
}

a {
    color: #00a79c;
    text-decoration: none;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    cursor: pointer;
    font-family: "Proxima Nova", sans-serif;
}

.container-main {
    max-width: 1440px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 9px 0px 0px #f9f9f9, 0 -9px 0px 0px #f9f9f9, 4px 0 8px -4px #dadada, -4px 0 8px -4px #dadada;
}

.h1, .h2, .h3, .h4 {
    /*font-family: "Roboto", serif;*/
      font-family: "Proxima Nova", sans-serif;
    line-height: 1.4em;
}

/* content styles */

.content {
    padding: 60px 0 0;
}

body .nav-fixed{
  /*top: 25px;*/
  position: relative;
  background: white;
  z-index: 2;
}


#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    /*z-index: 10000;*/
    /*border-radius: 0 0 0.5em 0.5em;*/
}
