<table>
  <tbody>
    <tr>
      <td>
         {{ printf "%s" $.Params.start }}
      </td>
      <td></td>
      <td>
        <div class="h4">
          Welcome
        </div>
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        {{ printf "%s" $.Params.prod_overview }}
      </td>
      <td></td>
      <td>
        <div class="h4">
          Product Management Overview
        </div>
      </td>
    </tr>
    <tr>
      <td>
        2:00 - 3:30
      </td>
      <td></td>
      <td>
        <div class="h4">
          New to PCF Technical Track: 45 minute PCF Overview followed by hands-on labs
        </div>
      </td>
    </tr>
    <tr>
      <td>
        2:00 - 3:30
      </td>
      <td></td>
      <td>
        <div class="h4">Experienced with PCF Technical Track: 1.8 Review and What's New in the PCF Ecosystem</div>
      </td>
    </tr>
    <tr>
      <td>
        3:45 - 4:15
      </td>
      <td></td>
      <td>
        <div class="h4">
          Partner Presentation: Apigee
        </div>
      </td>
    </tr>
    <tr>
      <td>
        4:15 - 4:45
      </td>
      <td></td>
      <td>
        <div class="h4">
          Partner Presentation: Microsoft
        </div>
      </td>
    </tr>
    <tr>
      <td>
        5:00 - 5:30
      </td>
      <td></td>
      <td>
        <div class="h4">
          Lightning Talks to kick off Happy Hour
        </div>
      </td>
    </tr>
    <tr>
      <td>
        5:30 - 6:00
      </td>
      <td></td>
      <td>
        <div class="h4">
          Happy Hour Networking Event
        </div>
      </td>
    </tr>
  </tbody>
</table>
