<header>
  <div class='navbar'>
    <!-- <div class="supernav">
      <div class="container">
        <ul>
          <li>
            <a href="pivotal.io">pivotal.io</a>
          </li>
        </ul>
      </div>
    </div> -->
    <div class='container'>
      <div class='pivotal-logo'>
        <a href='/'>
          <img src='https://d1fto35gcfffzn.cloudfront.net/images/header/Pivotal_WhiteOnTeal_RGB.svg'>
        </a>
      </div>
      <ul class="nav">
        <li id="nav-cities">
          <a href="/cities">Cities</a>
        </li>
        <li id="nav-agenda">
          <a href="/agenda">Agenda</a>
        </li>
        <li id="nav-register">
          <a href="/register">Register</a>
        </li>
      </ul>
      <!-- <div class='cta empty'>
        <a class='contactpopuplink'>Contact</a>
      </div> -->
    </div>
  </div>
</header>
