<header>
  <div class='navbar'>
    <div class='container'>
      <div class='pivotal-logo'>
        <a href='/'>
          <img src='https://d1fto35gcfffzn.cloudfront.net/images/header/Pivotal_WhiteOnTeal_RGB.svg'>
        </a>
      </div>
      <ul class="nav">
        <li id="nav-cities">
        <div class="btn-group">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cities
          </a>
          <div class="dropdown-menu">
            <ul>
              <li><a class="dropdown-item" href="/cities/ny">New York</a></li>
              <li><a class="dropdown-item" href="/cities/chi">Chicago</a></li>
              <li><a class="dropdown-item" href="/cities/den">Denver</a></li>
              <li><a class="dropdown-item" href="/cities/sf">San Francisco</a></li>
              <li><a class="dropdown-item" href="/cities/dal">Dallas</a></li>
              <li><a class="dropdown-item" href="/cities/tor">Toronto</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li id="nav-agenda">
        <a href="/agenda">Agenda</a>
      </li>
      <li id="nav-register">
        <a href="http://pivotal-partners.registration.sgizmo.com/s3/" target="_blank">Register</a>
      </li>
    </ul>
  </div>
</div>
</header>
